@media (max-width: 800px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}


header{
    padding: 0.625em;
    background: black;
    text-align: center;
    color: white;
    margin-bottom: 1.25em;
}
header div{
    display: flex;
    justify-content: center;
}
header a:first-child{
    align-self: center;
    display: block;
    text-align: start;
    border: none;
    margin-right: auto;
}
header a:first-child:hover{
    border: none;    
}

header a:last-child{
    margin-right: auto;
}

header a img{
    display: inline-block;
    width: 6.25em;
}
header a{
    margin: 0 0.125em;
    text-decoration: none;
    color: white;
    width: auto;
    padding: 0.625em;
    display: inline-block;
    transition-property: border,padding;
    transition-duration: 0.3s;
    border: 0.3125em solid rgb(197, 30, 30);
}
header a:hover{
    border: 0.3125em solid darkred;
}
header a.active{
    border: 0.3125em solid rgb(255, 30, 0);
    background-color: rgb(30, 30, 30);
}


header+div{
    margin-bottom: 3em;
    margin-left: 1em;
}

body{
    background-color: rgb(165, 165, 165);
}
div{
    max-width: auto;
    margin: 1em;
}
div p{
    margin-left: 2em;
}
div .conteudo{
    display: inline-flex;
    align-items: center;
}
.conteudo img{
    background-color: black;
    justify-content: flex-end;
}
.conteiner{
    background-color: rgb(54, 50, 58);
    padding: 0.625em;
    border: 0.3125em double black;
    color: rgb(181, 0, 0);
    margin: 0;
}
.conteudo{
    margin: 1em;
    padding: 1em;
    border: 0.215em dotted black;
}
footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 0.625em;
    background: black;
    text-align: center;
    color: white;
}
footer img{
    width: 5%;
}